{% extends "home/base.html" %}
{% load static %}
{% block content %}


<div class="content">


      <div class="container">
          <div class="container-2">
        <h1 >About Signing off</h1>
              <br><br>
              <p>Every year hundreds of students pack their things up with heavy hearts, take their degrees and say goodbye to the institute they once called home. While they try to take as many memories with them to their new life, there are some things that they have to leave behind. The bicycles they used for their daily commute, mattresses they used to sleep in, their old textbooks which they heavily read from when exams neared and many other uncountable things.</p>
            <br> <p> The bicycles left behind with no one to ride on or take care of, catch rust in the heavy rain and idleness of college. Every once in awhile, we see a cleaning drive to collect these old bicycles that have slowly turned into junk. Why did we allow them to fade away this way? Can they not help the new students, with new hopes and dreams, make new memories again?</p>
          <br><p>Signing off is a non-profit initiative that enables the seniors to pass on certain feasible objects like cycles, mattresses, and curtains to their juniors. Not only this, but they also get to attach a special message on custom-designed stickers for each item. Perhaps something that they would like to say to their junior selves? We collect their things, store them in a safe place and with the beginning of a new year, give them to those who need them.</p>
             <br><p> Simple idea, right? But look at how it impacts a freshman's life. Not only do they receive something they need, but also a treasured secret message that helps them connect to the ones who took the same journey they are about to embark upon.</p>
            <br><br>
      </div>
          </div>
</div>
{% endblock %}